name: Badger Culvert Assessment Admin

on:
  schedule: 
    - cron: 0 4 * * * # every day at 4am PST
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Set up Conda environment
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: badger_assess_env
        python-version: 3.11
      
    - name: Install dependencies
      shell: bash
      run: |
        conda env update --file reporting_environment.yaml --name badger_assess_env
        conda env list
        conda init bash
        . ~/.bashrc
        conda activate badger_assess_env

    - name: Run Script
      shell: bash
      env:
        AGO_USER: ${{ secrets.AGO_USER }}
        AGO_PASS: ${{ secrets.AGO_PASS }}
        MAPHUB_URL: ${{ secrets.MAPHUB_URL }}
        BADGER_CAM_CHECK_ID: ${{ secrets.BADGER_CULVERT_ITEM_ID }}

      run: |
        conda init bash
        . ~/.bashrc
        conda activate badger_assess_env
        python3 badger_scripts/culvert_assessment_data_admin.py
        
  
